---
title : profile
layout : tataletak.njk
nama  : Febiola Agatha
nim : 14117120
---

<div class="container">
    <div><img src="/assets/img/pigg1.png" alt="" style="width: 100%; height: 100px;">
    </div>
    <div>
    <p> Nama Saya</p>
    <h1>{{nama}}</h1>
    </div>
    <div>
    <h3> Nim Saya </h3>
    <h1>{{nim}}</h1>
    </div>
</div>
