<nav>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/profile">Profile</a>
		</li>
		<li>
			<a href="/gallery">Gallery</a>
		</li>
		<li>
			<button id="tombol">
				Berubah ke mode malam
			</button>
		</li>
	</ul>
</nav>
