<html lang="en">
<head>
	<link rel="stylesheet" href="/assets/css/febiola.css">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
</head>

<body class="malam">
	{%include "navigasi.njk" %}
	<section>
		{{content | safe }}
	</section>

	<script type="text/javascript">
		switcher = document.getElementById("tombol");
		switcher.onclick = function(){
		ola = document.getElementsByTagName("body")[0];
		if (switcher.innerText == "Berubah ke mode siang"){
			switcher.innerText = "Berubah ke mode malam";
			ola.classList.remove("malam");
		} else {
			switcher.innerText = "Berubah ke mode siang";
			ola.classList.add("malam");
		}
	}
	</script>
</body>
</html>
